<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dynos - Dynamic Text Editor</title>
    <meta name="keywords" content="Dynamic,Editor,Template,Text" />
    <meta name="description" content=""/>
    
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <!-- build:css corecss.css -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/superslides.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/slider.revolution.v4/css/settings.css" rel="stylesheet" type="text/css" />
    <!-- THEME CSS -->
    <link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />

    <!-- BLOG CSS -->
    <link href="assets/css/blog.css" rel="stylesheet" type="text/css" />

    <link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/layout-responsive.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/color_scheme/blue.css" rel="stylesheet" type="text/css" /><!-- orange: default style -->
    <!--<link id="css_dark_skin" href="assets/css/layout-dark.css" rel="stylesheet" type="text/css" />--><!-- DARK SKIN -->
    <!-- Main -->
    <link href="css/pagewise/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="css/theme-patch.css" rel="stylesheet" type="text/css" />
    <!-- Morenizr -->

    <!-- Page-wise CSS -->
    <link href="css/plugin/textangular/textAngular.css" type="text/css" rel="stylesheet">
    <link href="css/plugin/select2/select2.min.css" type="text/css" rel="stylesheet">
    <link href="css/plugin/select2/select2-patch.css" type="text/css" rel="stylesheet">
    <link href="css/plugin/mediumeditor/medium-editor.css" type="text/css" rel="stylesheet">
    <link href="css/plugin/ang-accordion.css" type="text/css" rel="stylesheet">
    <link href="css/plugin/ang-xeditable/xeditable.min.css" rel="stylesheet">
    <link href="css/plugin/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- <link href="css/plugin/ang-datatable/angular-datatables.css" rel="stylesheet"> -->
    <link href="css/plugin/ang-datatable/custom.css" rel="stylesheet">
    <link href="css/plugin/ang-datatable/buttons.dataTables.min.css" rel="stylesheet">

    <link href="css/global.css" type="text/css" rel="stylesheet">
    <link href="css/layout.css" type="text/css" rel="stylesheet">
    <link href="css/fonts.css" type="text/css" rel="stylesheet">
    <link href="css/pagewise/login.css" type="text/css" rel="stylesheet">

    <link href="css/pagewise/editor.css" type="text/css" rel="stylesheet">
    <link href="css/pagewise/controls.css" type="text/css" rel="stylesheet">
    <link href="css/pagewise/report.css" type="text/css" rel="stylesheet">
    <link href="css/pagewise/gallery.css" type="text/css" rel="stylesheet">
        <!-- Underscore -->
    <!-- moved css files -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="css/plugin/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="css/plugin/bootstrap-switch.min.css">
      <link rel="stylesheet" href="css/plugin/slider/bootstrap-slider.min.css">
<!-- endbuild -->
    <!-- JAVASCRIPT FILES -->
    <!-- <script type="text/javascript" src="assets/plugins/modernizr.min.js"></script> -->
    <script src="js/lib/function/underscore-min.js"></script>
    <script type="text/javascript" src="assets/plugins/modernizr.min.js"></script>    
    <!-- build:js vendor.js -->
    <script type="text/javascript" src="assets/plugins/jquery-2.2.3.min.js"></script>
    
    <script type="text/javascript" src="assets/plugins/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.appear.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="assets/plugins/masonry.min.js"></script>

    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/plugins/stellar/jquery.stellar.js"></script>
    <script type="text/javascript" src="assets/plugins/knob/js/jquery.knob.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="assets/plugins/superslides/dist/jquery.superslides.min.js"></script>
    <script type="text/javascript" src="assets/plugins/styleswitcher/styleswitcher.min.js"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
    <script type="text/javascript" src="assets/plugins/mediaelement/build/mediaelement-and-player.min.js"></script>

    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="assets/plugins/slider.revolution.v4/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="assets/plugins/slider.revolution.v4/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>

    <!-- jQuery accordion -->
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

      <!-- mScroll -->
      <script src="js/plugin/jquery.mCustomScrollbar.min.js"></script>

      <!-- Input mask -->
      <script src="js/plugin/jquery.inputmask.bundle.js"></script>
      <script src="js/plugin/inputmask.regex.extensions.js"></script>

      <!-- Syntax validator : ESPrima -->
      <script src="js/plugin/esprima.js"></script>

      <!-- Select 2 -->
      <script src="js/plugin/select2/select2.full.patch.min.js"></script>
      <!-- Medium Editor -->
      <script src="js/plugin/mediumeditor/medium-editor.min.js"></script>
      
      <!-- Bootstrap Switch -->
      <script src="js/plugin/bootstrap-switch.min.js"></script>

      <!-- Select -->
      
      <!-- Bootstrap Tooltip -->
      <script src="js/plugin/tooltip.min.js"></script>

      <!-- jQuery Datatable -->
      <script type="text/javascript" src="js/plugin/ang-datatable/jquery.dataTables.min.js"></script>

      <!-- Bootstrap slider -->
      <script src="js/plugin/slider/bootstrap-slider.min.js"></script>

      <!-- Others -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
      <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
      <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>

      <!-- Function Libraries -->
  <script src="js/lib/function/finance.js"></script>
  <script src="js/lib/function/math.min.js"></script>
  <script src="js/lib/function/string.min.js"></script>

  <!-- Field Libraries -->
  <script src="js/lib/function/numeral/numeral.js"></script>
  <script src="js/lib/function/numeral/languages.min.js"></script>
  <script src="js/lib/function/moment-with-locales.js"></script>

  <!-- Date time picker -->
  <script src="js/plugin/bootstrap-datetimepicker.min.js"></script> 

 <!-- Angular Files -->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-route/angular-route.min.js"></script>
    <script src="js/angular/angular-resource/angular-resource.min.js"></script>
    <script src="js/angular/angular-cookies/angular-cookies.min.js"></script>
     <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/angular/angular-messages.min.js"></script>


    <!-- Bootstrap switch -->
  <script src="js/plugin/angular-bootstrap-switch.min.js"></script>
  <!-- Angular select2 -->
    <script src="js/plugin/ang-select/select.min.js"></script>
    <!-- Angular paging -->
    <script src="js/plugin/paging.js"></script>

    <!-- TA reference -->
  <script src="js/plugin/textangular/textAngular-rangy.min.js"></script>
  <script src="js/plugin/textangular/textAngular-sanitize.min.js"></script>
  <script src="js/plugin/textangular/textAngularSetup.js"></script>
  <script src="js/plugin/textangular/textAngular.js"></script>  

  <!-- Angular datatable -->
  <script src="js/plugin/ang-datatable/buttons/dataTables.buttons.min.js"></script>
  <script src="js/plugin/ang-datatable/buttons/buttons.html5.js"></script>
  <script src="js/plugin/ang-datatable/buttons/buttons.print.js"></script>
  <script src="js/plugin/ang-datatable/angular-datatables.js"></script>
  <script src="js/plugin/ang-datatable/plugins/buttons/angular-datatables.buttons.js"></script>
  

  <!-- Angular xEditable -->
    
  <script src="js/plugin/ang-xeditable/xeditable.min.js"></script>
  
  <!-- UI Bootstrap -->
    <script src="js/plugin/ui-bootstrap-tpls-1.3.3.min.js"></script>
  <!-- Gravatar Angular directive -->
  <script src="js/plugin/angularjs-gravatardirective.js"></script>
  <!-- Checklist model (Angular directive) -->
  <script src="js/plugin/checklist-model.js"></script>
  <!-- UI Bootstrap slider -->
  <script src="js/plugin/slider/ang-slider.js"></script>
  <!-- Angular accordion -->
    <script src="js/plugin/ang-accordion.js"></script>
<!-- endbuild -->
      <link href="css/plugin/ang-select/select.min.css" rel="stylesheet">
<!-- build:js main-app.js -->
    <script src="js/angular/pagewise/main/app.js"></script>
    <script src="js/angular/pagewise/main/controller.js"></script>
    <script src="js/angular/pagewise/main/dynos/controller.js"></script>
    <script src="js/angular/pagewise/main/dynos/list/mineController.js"></script>
    <script src="js/angular/pagewise/main/dynos/list/othersController.js"></script>
    <script src="js/angular/pagewise/main/dynos/list/templateController.js"></script>
    <script src="js/angular/pagewise/main/dynos/assign/controller.js"></script>
    <script src="js/angular/pagewise/main/editor/controller.js"></script>
    <script src="js/angular/pagewise/main/editor/directive.js"></script>
    <script src="js/angular/pagewise/main/editor/generators/var.js"></script>
    <script src="js/angular/pagewise/main/editor/stages/settings.js"></script>
    <script src="js/angular/pagewise/main/editor/stages/publish.js"></script>
    <script src="js/angular/pagewise/main/editor/generators/var.js"></script>
    <script src="js/angular/pagewise/main/view/controller.js"></script>
    <script src="js/angular/pagewise/home/controller.js"></script>
    <script src="js/angular/pagewise/main/report/controller.js"></script>
    <script src="js/angular/pagewise/main/gallery/controller.js"></script>
    <script src="js/angular/pagewise/main/profile/controller.js"></script>
    <script src="js/angular/pagewise/main/profile/successModalCtrl.js"></script>
    <script src="js/angular/pagewise/main/gallery/featured/controller.js"></script>
    <script src="js/angular/pagewise/main/gallery/public/controller.js"></script>
    <script src="js/angular/pagewise/login/controller.js"></script>


    <script src="js/angular/pagewise/main/contacts/controller.js"></script>
    <script src="js/angular/pagewise/main/assignments/controller.js"></script>
    <script src="js/angular/pagewise/main/assignments/fillup/controller.js"></script>
    <script src="js/angular/pagewise/main/assignments/fillup/directive.js"></script>

    <script src="js/angular/pagewise/model.js"></script>
    <script src="js/angular/pagewise/filters.js"></script>
    <script src="js/angular/pagewise/helpers.js"></script>
    <script src="js/angular/pagewise/commons.js"></script>
    <script src="js/angular/pagewise/main/stores/static/menustore.js"></script>
    <script src="js/angular/pagewise/main/stores/static/locale.js"></script>
    <script src="js/angular/pagewise/main/stores/static/validation.js"></script>

    <script src="js/angular/pagewise/main/stores/factory/dynomodel.js"></script>
    <script src="js/angular/pagewise/main/stores/factory/html.js"></script>
    <script src="js/angular/pagewise/main/stores/factory/func.js"></script>
    <script src="js/angular/pagewise/main/stores/factory/var.js"></script>
    <script src="js/angular/pagewise/main/stores/factory/sdf.js"></script>
    <script src="js/angular/pagewise/main/stores/factory/syntax.js"></script>
    <script src="js/angular/pagewise/main/stores/factory/attributes.js"></script>
    <script src="js/angular/pagewise/main/stores/factory/dyno.js"></script>
    <script src="js/angular/pagewise/main/stores/dynostore.js"></script>
    <script src="js/angular/pagewise/main/stores/dynohub.js"></script>
    <script src="js/angular/pagewise/main/stores/contactstore.js"></script>
    <script src="js/angular/pagewise/main/stores/assignmentstore.js"></script>
    <script src="js/angular/pagewise/service/patternstore.js"></script>    
    <script src="js/angular/pagewise/service/constantstore.js"></script>
    <script src="js/angular/pagewise/service/unitstore.js"></script>
    <script src="js/angular/pagewise/service/categorystore.js"></script>
    <script src="js/angular/pagewise/service/tagstore.js"></script>
    <script src="js/angular/pagewise/service/session.js"></script>
    <script src="js/angular/pagewise/service/bridge.js"></script>
    <script src="js/angular/pagewise/service/common.js"></script>

    <script src="js/angular/f_parser.js"></script>
    <script src="js/angular/tnr_parser.js"></script>
    <script src="js/angular/f_validator.js"></script>
<!-- endbuild -->    
    <!-- <script type="text/javascript" src="main-app.js"></script> -->
  <script>
    var finance = new Finance();
    String.prototype.replaceAll = function(target, replacement) {
      return this.split(target).join(replacement);
    };
  </script>
    <script type="text/javascript" language="javascript">
      _module.value('_globalSearch', _globalSearch);
      _module.value('_topNav', _topNav);
      /* Try to include _animate function too : It is the cause of all the opacity:0 bugs */
    </script>

    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
  </script>
    <script type="text/javascript" async
    src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

    <!-- <script src="js/angular/pagewise/service/session.js"></script> -->
  </head>

    <body ng-app="angMain" ng-controller="mainCtrl">
    <div ng-if='isActiveSession && showTopNav'>
      <header id="topHead" ng-include="'templates/main/head-1.html'"></header>
    </div>
    <div ng-if='!isActiveSession && showTopNav'>
      <header id="topHead" ng-include="'templates/main/head-1-public.html'"></header>
    </div>
        <div ng-if = 'showTopNav'>
          <header id="topNav" class="topHead" ng-include="'templates/main/head-2.html'"></header>
          <span id="header_shadow"></span>
          <div id="wrapper" ng-view></div>
        </div>

        <div ng-if = '!showTopNav' ng-view></div>
        <div ng-if = '!embeddedDyno'>
          <footer ng-include="'templates/main/foot.html'"></footer>
        </div>
        <div ng-include="'templates/common_modals.tpl'"></div>      
    </body>
</html>