<div id="dyn-overlay" ng-show="bigLoader.loading">
	<img src="img/loader.gif" class="img-absolute-center vert-middle">
</div>

<div class="row margin--sandwitch" ng-if="!bigLoader.loading">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<ui-select multiple tagging tagging-label="false" on-select="onAdd($item)" on-remove="onRemove($item)" ng-model="arr_tags" theme="bootstrap" ng-disabled="disabled" style="width: 100%;" title="Manage tags">
		   	<ui-select-match placeholder="Add tags">{{$item}}</ui-select-match>
		   	<ui-select-choices repeat="tag in []"></ui-select-choices>
		</ui-select>
	</div>
	<div class="col-xs-2"></div>
</div>